# Ignore node_modules
node_modules/

# Ignore .env files
.env

# Ignore build artifacts
build/
dist/

# Ignore lock files (if not needed)
package-lock.json

# Ignore Docker-related files
.Dockerignore
docker-compose.yml
docker-compose.*.yml

# Ignore log files
logs/
*.log

# Ignore temporary files
*.tmp